article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}


@font-face {
  font-family: 'Nexa';
  src: url('./../fonts/NexaBlack.otf');
  src: url('./../fonts/NexaRegular.otf');
  src: url('./../fonts/NexaThin.otf');
}

$color-blue: rgb(12, 39, 64);
$color-blue2: rgb(24, 67, 107);
$color-beige: rgb(237, 236, 235);

html {
  background: $color-beige !important;
  font-family: "NexaRegular";
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0 auto;
  padding: 0;
 box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 95vw;

  background-color: $color-beige !important;
}
* {
 //margin: 10px;
font-weight: 400;
outline: none !important;
 
}

//import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
#MainInterface {
    background-color: $color-beige !important;
}
#app2{
  background-color: $color-beige !important;
  h1 {
    background: $color-beige;
  }
}
.notes {
  margin-top: 500px;
}


.link {
  font-weight: 100;
  font-size: 14px;
  padding: 10px 20px;
 font-family: "NexaThin";
  width: 150px;
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  margin-top: 20px;
  text-decoration: none;
  background: rgb(168, 164, 162);
  border-radius: 3px;
    letter-spacing: 0px;
  color: black;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  &:hover {
  background: rgb(94, 94, 94);
  letter-spacing: 2px;
  color: white;
  }
}
// .active {
//   font-family: "NexaRegular";
//   font-weight: 900;
// }


.weather {
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
  text-align: center;
  outline: none;

  h1 {

  }
  .inputW {
    width: 400px;
    height: 25px;
    padding: 10px;
    border: 1px solid rgb(189, 189, 189);
  }
  button.submit {
    width: 420px;
    height: 40px;
    color: rgb(37, 119, 171);
    margin-top: 20px;
      background: rgb(227, 227, 227) !important;
    background-color: rgb(227, 227, 227) !important;
    border: 1px solid rgb(37, 119, 171);
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
      letter-spacing: 0px;
    &:hover {
          background-color: rgb(250, 250, 250) !important;
        letter-spacing: 3px;
    }
  }
}
